$bg-color : #1A1A40 ;
.strike
{
    text-decoration: line-through !important;
}
.task
{
    display: flex;
    flex-direction: column;
    row-gap: 15px ;
    list-style-type: none;
    background-color :  $bg-color;   
    padding: 20px;
    img{
        display: none;
    }
    li{
        padding: 10px 10px ;
        display: flex;
        align-items: flex-start;
        gap : 5px ; 
        background-color: transparent;
        color: white;
        border: 2px solid white;
        input{
            width : 25px ;
            height : 25px ;
            align-self: flex-start;
        }
        h4{
            max-width: calc(100% - 145px);
            width: 100%;
            padding-left: 10px ;
            word-wrap: break-word;
        }
        .edit
        {
            padding : 10px 15px ; 
            border: none;
            outline: none;
            background-color: #fff;
            color : black ;
            border-radius: 5px;
            &:hover
            {
                background-color: transparent;
                transition: .3s;
                cursor: pointer;
                color: white;
                border: 1px solid #fff;
            }
        }
        .delete
        {
            padding: 10px 15px ;
            border: none;
            outline: none;
            background-color: #fff;
            color : black ; 
            border-radius: 5px;
            &:hover
            {
                background-color: transparent;
                transition: .3s;
                cursor: pointer;
                color: white;
                border: 1px solid #fff;
            }
        }
    }
}
@media screen and (max-width : 500px) {
    .edit
    {
        display: none;
    }
    .delete
    {
        display: none;
    }
    .task
    {
        img{
            display: block ;
        }
        h4{
            max-width : calc(100% - 90px) !important;
            width : 100% ; 

        }
    }
}
