$bg-color : #1A1A40 ;
.main
{
    background-color: $bg-color;
    padding : 20px ; 
    max-width: 600px;
    width: 100%;
    margin: 30px auto;
}
.tasks
{
    padding: 0px;
    max-width: 600px;
    width: 100%;
    margin: 30px auto;
}